doctype html
html(lang=en)
	head
		title="HMS Math Team"
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="/static/jquery.js")
		link(rel="stylesheet", href="/static/bootstrap/bootstrap.css")
		link(rel="stylesheet", href="/static/bootstrap/bootplus-responsive.css")
		link(rel="stylesheet",href="/static/font-awesome.css")
		link(rel="stylesheet",href="/static/startup_code_social-buttons.css")
		script(src="/static/bootstrap/js/bootstrap.js")
		script(src="/static/jquery.knob.js")
		script(src="/static/css_browser_selector.js")		
		link(href="/static/ubuntu-font.css")
		link(href="/static/opensans-font.css")
		link(rel="stylesheet" href="/static/responsive.css")
		script.
			$(function()
			{
				$(".alert").hide();
				$(".dropdown-menu li a").click(function(){
					$("#dropTitle").text($(this).text());
					if ($(this).text() !== "New..." && $(this).text() !== "Select set")
						$("#dropTitle").attr("data-title",$(this).text());
					$("#dropTitle").append("<span class='caret' />")
					//$("#dropdown:first-child").val($(this).text());
				});
			});
			String.prototype.hashCode = function(){
				var hash = 0;
				if (this.length == 0) return hash;
				for (i = 0; i < this.length; i++) {
					char = this.charCodeAt(i);
					hash = ((hash<<5)-hash)+char;
					hash = hash & hash; // Convert to 32bit integer
				}
				return hash;
			}
			function auth()
			{
				if ($("#password").val().hashCode() === 753544051)
				{
					var choice = $(".btn.active").children().attr("id");
					if (choice == undefined)
					{
						$("#alertchoice").show();
						$("#alertpass").hide();
						return;
					}
					else if ($("#dropTitle").text() === "New...")
					{
						document.location = "/new/";
					}
					else if (choice == "present")
						document.location = "/"+$("#dropTitle").attr("data-title");
					else if (choice == "edit")
						document.location = "/edit/"+$("#dropTitle").attr("data-title");
				}
				else
				{
					$("#alertpass").show();
					$("#alertchoice").hide();
				}
			}
		style.
			body{background-color: #F7F7F6;}
			.login{padding-top: 65px;}
			.center{float: none; margin-left: auto; margin-right: auto;}
			.custom {
				width: 130px !important;
			}
	body
		div.modal.fade#myModal
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button",data-dismiss="modal" aria-hidden="true") &times;
						h4(class="modal-title") About
					div.modal-body
						h4 Created by Souvik Banerjee
						|This website is powered by node.js, expressjs, Twitter Bootstrap, jQuery, and MongoDB
						h4 License
						|All code is available under the BSD 3-clause 
						a(href="http://opensource.org/licenses/BSD-3-Clause")
							|license

					div.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") Close
		div.modal.fade#new
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button",data-dismiss="modal" aria-hidden="true") &times;
						h4(class="modal-title") New
					div.modal-body.container						
						div.input-group
							input.span3(type="text" placeholder="Name")#name
							button.btn.btn-info.offset1(type="button",onclick="document.location='/edit/'+$('#name').val()") Submit
					div.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") Close
		div.navbar.navbar-fixed-top
			div.navbar-inner
				a.brand(href="#") HMS Math Team
				ul.nav.navbar-nav.pull-right
					li
						a(href="#", onclick="$('#myModal').modal()")
							|About
				
		div.container.login
			div.row
				div.center.span6.well
					legend Sign In
					div.alert.alert-danger#alertpass
						strong Error! 
						div#alertText
							|Incorrect password
					div.alert.alert-warning#alertchoice
						strong Warning!
						div#alertText
							|Select Edit or Present
					label Password:
					input.span4(type="password",name="password")#password
					p
					div.btn-group(data-toggle="buttons")
						label.btn
							input(type="radio" name="options",style="display:none")#present
							|Present
						label.btn
							input(type="radio" name="options", style="display:none")#edit
							|Edit
					div.btn-group#dropdown
						button.btn.btn-default.custom.dropdown-toggle(type="button", data-toggle="dropdown",data-title="")#dropTitle Select set
							span.caret
						ul.dropdown-menu
							each category in categories
								li
									a(href="#") #{category}
							li.divider
							li
								a(href="#",onclick="$('#new').modal()")
									|New...
					button.btn.btn-default.pull-right(type="button",onclick="auth()") Login



