/* Large desktop */
@media (min-width: 980px) 
{
	body 
	{
		padding-top: 60px;
	}
	.linediv-l 
	{
		border-right: 1px white solid;
	}
	.linediv-r 
	{
		border-left: 1px white solid;
	}
	.carousel .item 
	{
		height: 500px;
	}
	.carousel img 
	{
		width: auto;
		height: auto;
	}
}       

/* Landscape phones and down */
@media (max-width: 480px)
{
	.copy
	{
		padding: 2.5% 10%;
	}
	.linediv-l
	{
		border-bottom: 1px white solid;
	}
	.linediv-r
	{
		border-top: 1px white solid;
	}
	.carousel 
	{
		margin-left: -20px;
		margin-right: -20px;
	}
	.carousel .container 
	{

	}
	.carousel .item 
	{
		height: 300px;
	}
	.carousel img 
	{
		height: auto;
		width: auto;
	}
	.carousel-caption 
	{
		width: 65%;
		padding: 0 70px;
		margin-top: 100px;
	}
	.carousel-caption h1 
	{
		font-size: 20px;
	}
	.carousel-caption .lead,
	.carousel-caption .btn 
	{
		font-size: 18px;
	}
}

/* All form factors */

/* Main body and headings */
body
{
	font-family: 'Open Sans', Helvetics, Arial, sans-serif;
}
.heading, .subheading 
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	text-align: center;
}
p.lead
{
	padding-top: 1.5%;
	font-size: 24px;
	line-height: 30px;

}
p
{
	font-size: 18px;
	line-height: 24px;
}

/* Video pitch and Action */
.pitch
{
   	padding: 2.5% 0%;
}
.order 
{
	padding: 2% 0%;
}
.actions
{
	background-color: #343434;
	padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics
{
	text-align: center;
}
.statistics h3, .statistics p
{
	color: white;
}

/* Marketing Copy and Footer */
.copy
{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	text-align: justify;
}
.asset
{
	padding: 2.5% 0%;
}
.footer
{
	color: #cccccc;
	text-align: center;
}
.footer p
{
	font-size: 11px;
}
.footer a
{
	color: #ccccff;
}

/* Carousel stuff */
.carousel 
{
	margin-bottom: 60px;
}

.carousel .container 
{
	position: relative;
	z-index: 9;
}

.carousel-control 
{
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item 
{
	height: 500px;
}
.carousel img 
{
	position: absolute;
	height: auto;
	margin:0 auto;
}

.carousel-caption 
{
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 10%;
	margin-top: 150px;
}
.carousel-caption h1,
.carousel-caption .lead 
{
	margin: 0;
	line-height: 1.25;
	color: #fefefe;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn 
{
	margin-top: 10px;
}
div.addthis_toolbox {
	width:250px;
	margin: 0 auto;
}
.right-hack{
	position:absolute;
	top:65%;
	left:82%;
	width:auto;
	height:auto;
	margin-top:-20px;
	font-weight:100;
	line-height:30px;
	color:#ffffff;
	background:#222222;
	opacity:1.0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.0);
}
.right-hack-text{
	position:absolute;
	top:74%;
	left:85.5%;
	width:auto;
	height:auto;
	margin-top:-20px;
	font-weight:100;
	line-height:30px;
	color:#ffffff;
	background:#222222;
	opacity:1.0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.0);
}
.ipad .right-hack-text
{
	left:86.5%;
}
.left-hack{
	position:absolute;
	top:80%;
	left:10%;
	width:auto;
	height:auto;
	margin-top:-20px;
	font-weight:100;
	line-height:30px;
	color:#4CE571;
	background:#222222;
	opacity:1.0;
	background: rgba(0, 0, 0, 0.0);
}


